---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import { Icon } from "astro-icon/components";
import Comment from "../../src/components/Comment.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const messagePost = await getEntry("spec", "message");

if (!messagePost) {
	throw new Error("Message page content not found");
}

const { Content } = await render(messagePost);
---

<script>
    // Hide the comment count in the message page after twikoo is loaded
    function hideCommentCount() {
        const twikooContainer = document.getElementById('twikoo');
        if (twikooContainer) {
            const commentCount = twikooContainer.querySelector('.tk-comments-count');
            if (commentCount) {
                (commentCount as HTMLElement).style.visibility = 'hidden';
            }
        }
    }

    // Wait for twikoo to load
    if (typeof (window as any).twikoo !== 'undefined') {
        hideCommentCount();
    } else {
        window.addEventListener('load', hideCommentCount);
    }
</script>

<MainGridLayout title={i18n(I18nKey.message)} description={i18n(I18nKey.message)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
            <div class="flex flex-row text-black/30 dark:text-white/30 gap-5 mb-3 transition onload-animation">
                <div class="flex flex-row items-center">
                    <div class="transition h-6 w-6 rounded-md bg-black/5 dark:bg-white/10 text-black/50 dark:text-white/50 flex items-center justify-center mr-2">
                        <Icon name="material-symbols:comment-rounded"></Icon>
                    </div>
                    <div class="text-sm">
                        <span id="twikoo-comment-count-placeholder">-</span>
                        {" " + i18n(I18nKey.messageCount)}
                    </div>
                </div>
            </div>
            <Comment path="message" />
        </div>
    </div>
    
</MainGridLayout>