
<style is:global>
/* Twikoo评论框高度 */

/* 下面表情和按钮那一栏的设置 */
#twikoo .tk-comments .tk-submit .tk-row.actions{
    margin-bottom: 0;
    margin-left: 0;
}

/* 个人信息和文本输入之间的空位置 */
.tk-main .tk-submit .tk-col .tk-meta-input,
#twikoo .tk-comments .tk-submit .tk-col .tk-meta-input{
    margin-bottom: 16px;
}

/* 直接固定高度，解决提交按钮有时高度不起作用的问题 */
.tk-row.actions button.el-button {
    height: 32px;
}

/* 解决图片大小超出范围问题 */
.tk-main .tk-content img {
  max-width: 100%;
  height: auto;
}

/* 圆角设置 */
.tk-meta-input input {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tk-meta-input div {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* 输入框样式 */
.tk-input.el-textarea textarea {
    border-radius: 12px;
    min-height: 150px !important;
    height: auto;
}

/* 宽度太窄的时候去掉预览按钮 */
@media screen and (max-width:420px) {
    .tk-main .tk-submit .tk-row.actions button.el-button.tk-preview.el-button--default.el-button--small{
        display: none;
    }
}

:root {
  --liushen-radius: 12px;
  --liushen-card-border-width: 1px;
}

/* 浅色模式颜色 */
:root:not(.dark) {
  --liushen-border-color:var(--btn-regular-bg) ;
  --card-bg: #fff;
  --liushen-card-border: var(--btn-regular-bg);
  --style-border-always: 1px solid var(--liushen-card-border);
}

/* 深色模式颜色 */
:root.dark {
  --liushen-border-color: var(--btn-regular-bg);
  --card-bg: #2c2c2c;
  --liushen-card-border: var(--btn-regular-bg);
  --style-border-always: 1px solid var(--liushen-card-border);
}

:root.dark {
  p, span, strong, input, textarea, small, .OwO-logo, .tk-comments-count, .el-input-group__prepend {
    color: #fff;
  }
}

/* 评论区评论大框 */
.twikoo .tk-comments-container>.tk-comment,
.twikoo .tk-comments .tk-submit {
  /* 内边距 */
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  /* 圆角 */
  border-radius: var(--liushen-radius);
  /* 背景颜色 */
  background: var(--card-bg);
  /* 变动动画时长 */
  transition: .3s;
}

/* 浅色模式评论区评论大框 */
:root:not(.dark) 
.twikoo .tk-comments .tk-submit {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式评论区评论大框阴影悬浮加深 */
:root:not(.dark) 
.twikoo .tk-comments .tk-submit:hover {
  /* 阴影（浅色模式突出层次感） */
  box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式评论区评论大框 */
.twikoo .tk-comments .tk-submit {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--liushen-card-border-width);
  /* 边框颜色 */
  border-color: var(--liushen-card-border);
}

/* 设备信息 */
.twikoo .tk-extra {
  /* 圆角 */
  border-radius: var(--liushen-radius);
  /* 背景颜色 */
  background: var(--card-bg);
  /* 内边距 */
  padding: 0.4rem;
  /* 底边距 */
  margin-bottom: 1rem;
  /* 变动动画时长 */
  transition: .3s;
}

/* 浅色模式设备信息 */
:root:not(.dark) .twikoo .tk-extra {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式设备信息阴影悬浮加深 */
:root:not(.dark) .twikoo .tk-extra:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
  /* 圆角 */
  border-radius: var(--liushen-radius);
}

/* 浅色模式加载更多按钮 */
:root:not(.dark) .twikoo .tk-expand {
  /* 阴影 */
  box-shadow: var(--card-box-shadow);
}

/* 浅色模式加载更多按钮（鼠标悬浮时） */
:root:not(.dark) .twikoo .tk-expand:hover {
  /* 阴影 */
  box-shadow: var(--card-hover-box-shadow);
  /* 背景颜色 */
  background-color: var(--btn-bg);
}

/* 黑暗模式加载更多按钮（鼠标悬浮时） */
:root.dark .twikoo .tk-expand:hover {
  /* 背景颜色 */
  background-color: var(--primary);
}

/* 黑暗模式加载更多按钮 */
:root.dark .twikoo .tk-expand {
  /* 边框样式 */
  border-style: solid;
  /* 边框宽度 */
  border-width: var(--liushen-card-border-width);
  /* 边框颜色 */
  border-color: var(--liushen-card-border);
}

.tk-action-icon, .tk-icon.__comments {
    color: var(--primary) !important;
}

/* 分类卡片移动端个人信息卡片只显示两个 */
@media screen and (max-width:570px) {
    .tk-main .tk-extras {
        display: none;
    }
}

/* 评论区按钮样式 */
.tk-row.actions button.el-button {
    border-radius: 12px !important;
}

</style>

<div id="tcomment"></div>

<script>
  document.addEventListener('astro:after-swap', () => {
    loadTwikoo();
  });
  
  window.addEventListener('load', () => {
    loadTwikoo();
  });
  
  function loadTwikoo() {
      const commentsContainer = document.getElementById('tcomment');
      if (commentsContainer) {
        const script = document.createElement('script');
        script.src = 'https://cdn.staticfile.org/twikoo/1.6.32/twikoo.all.min.js';
        script.async = true;
        script.onload = () => {
          const initScript = document.createElement('script');
          initScript.innerHTML = `
            twikoo.init({
                envId: 'https://pl.xbcen.dpdns.org/',
                el: '#tcomment',
                path: window.TWIKOO_MAGIC_PATH||window.location.pathname,
            });
        `;
          document.body.appendChild(initScript);
        };
        document.body.appendChild(script);
      }
    }
    loadTwikoo();``
</script>

<!-- 评论数获取 -->
<script is:inline>
    const currentPostSlug = window.location.pathname.replace('/posts/', '');
    const currentPostUrl = getPostUrlBySlug(currentPostSlug);

    function fetchCommentsCount() {
        twikoo.getCommentsCount({
            envId: 'https://pl.xbcen.dpdns.org/',
            urls: [currentPostUrl], 
            includeReply: true
        }).then(function (res) {
            if (res && res.length > 0) {
                const count = res[0].count;
                const placeholder = document.getElementById('twikoo-comment-count-placeholder');
                if (placeholder) {
                    placeholder.textContent = count;
                }
            }
        }).catch(function (err) {
            const placeholder = document.getElementById('twikoo-comment-count-placeholder');
            if (placeholder) {
                placeholder.textContent = '-'; 
            }
        });
    }

    function getPostUrlBySlug(slug) {
        return `/posts/${slug}`; 
    }
</script>