---

import { siteConfig } from "../config";
---

<div id="config-carrier" data-hue={siteConfig.themeColor.hue} data-background={JSON.stringify(siteConfig.background)} data-site-config={JSON.stringify(siteConfig)}>
</div>
